@font-face {
  font-family: "TitilliumWeb Regular";
  src: url("../assets/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TitilliumWeb SemiBold";
  src: url("../assets/fonts/TitilliumWeb/TitilliumWeb-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "TitilliumWeb Bold";
  src: url("../assets/fonts/TitilliumWeb/TitilliumWeb-Bold.ttf") format("truetype");
}
